<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TSU_Practice_2025/PHP_task4/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>